<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Spring Security OAuth Example</title>

</head>


<body>

<h1>Spring Security OAuth Example - Secured</h1>

		ThinLH Test redirect link 

<span th:text="${#authentication.name}"></span><br/>
<p th:text="'Welcome ' + ${userName}"></p>
<p th:text="'Grants :  ' + ${grants}"></p>
</body>

</html>